@page "/subjects"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp01.Models
@inject IDbContextFactory<BlazorApp01.Data.ApplicationDbContext> DbFactory

<PageTitle>Subjects</PageTitle>

<h1>Subjects</h1>

<p>
    <a href="subjects/create" class="btn btn-success" >Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Subjects.Include(m=>m.Major)">
    <PropertyColumn Property="subjects => subjects.Name" />
    <PropertyColumn Property="subjects => subjects.code" Title="Code" />
    <PropertyColumn Property="subjects => subjects.Major.Name" Title="Major Name" />

    <TemplateColumn Context="subjects">
        <a class="mx-1 btn btn-outline-success" href="@($"subjects/edit?id={subjects.Id}")">Edit</a>
        <a class="mx-1 btn btn-info" href="@($"subjects/details?id={subjects.Id}")">Details</a>
        <a class="mx-1 btn btn-danger" href="@($"subjects/delete?id={subjects.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
