@page "/users"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp01.Models
@inject IDbContextFactory<BlazorApp01.Data.ApplicationDbContext> DbFactory

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>
    <a href="users/create" class="btn btn-success">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Users.Include(m=>m.Role)">
    <PropertyColumn Property="users => users.Name" />
    <PropertyColumn Property="users => users.Email" />
    <PropertyColumn Property="users => users.Password" />
    <PropertyColumn Property="users => users.Dob" />
    <PropertyColumn Property="users => users.Address" />
    <PropertyColumn Property="users => users.Sex" />
    <PropertyColumn Property="users => users.Role.Name" Title="Role Name"/>

    <TemplateColumn Context="users">
        <a class="mx-1 btn btn-outline-success" href="@($"users/edit?id={users.Id}")">Edit</a>
        <a class="mx-1 btn btn-info" href="@($"users/details?id={users.Id}")">Details</a>
        <a class="mx-1 btn btn-danger" href="@($"users/delete?id={users.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
