@page "/roles/details"

@using Microsoft.EntityFrameworkCore
@using BlazorApp01.Models
@inject IDbContextFactory<BlazorApp01.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Roles</h4>
    <hr />
    @if (roles is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@roles.Name</dd>
        </dl>
        <div>
            <a class="mx-1 btn btn-outline-success" href="@($"/roles/edit?id={roles.Id}")">Edit</a>
            <a class="btn btn-success" href="@($"/roles")">Back to List</a>
        </div>
    }
</div>

@code {
    Roles? roles;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        roles = await context.Roles.FirstOrDefaultAsync(m => m.Id == Id);

        if (roles is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
