@page "/roles"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp01.Models
@inject IDbContextFactory<BlazorApp01.Data.ApplicationDbContext> DbFactory

<PageTitle>Roles</PageTitle>

<h1>Roles</h1>

<p>
    <a href="roles/create" class="btn btn-success">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Roles">
    <PropertyColumn Property="roles => roles.Name" />

    <TemplateColumn Context="roles">
        <a class="mx-1 btn btn-outline-success" href="@($"roles/edit?id={roles.Id}")">Edit</a>
        <a class="mx-1 btn btn-info" href="@($"roles/details?id={roles.Id}")">Details</a>
        <a class="mx-1 btn btn-danger" href="@($"roles/delete?id={roles.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
